@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap");
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

:root {
  overflow-y: scroll;

  /* Fonts */
  --font-title: "Playfair Display", serif;
  --font-sans-serif: "Fira Code VF", sans-serif;
  --font-serif: serif;
  --font-mono: "Fira Code VF", monospace;
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 900;
}

body.light {
  --color-white: rgba(0, 0, 0, 0.8);
  --color-black: rgba(255, 255, 255, 0.9);
  --color-bg: rgba(255, 255, 255, 0.9);
  --color-font: rgba(0, 0, 0, 0.8);
  --color-section1: #fff;
  --color-section: #eee;
  --color-heading: #363636;
  --color-font-inverse: rgba(255, 255, 255, 0.8);

  --color-blue: rgb(0, 122, 255);
  --color-green: rgb(52, 199, 89);
  --color-indigo: rgb(88, 86, 214);
  --color-orange: rgb(255, 149, 0);
  --color-pink: rgb(255, 45, 85);
  --color-purple: rgb(175, 82, 222);
  --color-red: rgb(255, 59, 48);
  --color-teal: rgb(90, 200, 250);
  --color-yellow: #efbc05;
  --color-gray-1: rgb(142, 142, 147);
  --color-gray-2: rgb(174, 174, 178);
  --color-gray-3: rgb(199, 199, 204);
  --color-gray-4: rgb(209, 209, 214);
  --color-gray-5: rgb(229, 229, 234);
  --color-gray-6: rgb(242, 242, 247);
}

body.dark {
  --color-white: rgba(255, 255, 255, 0.9);
  --color-black: rgba(0, 0, 0, 0.8);
  --color-bg: rgba(0, 0, 0, 0.9);
  --color-font: rgba(255, 255, 255, 0.8);
  --color-section1: #1d1d1d;
  --color-section: #121212;
  --color-heading: rgba(255, 255, 255, 0.8);
  --color-font-inverse: rgba(0, 0, 0, 0.8);

  --color-blue: rgb(10, 132, 255);
  --color-green: rgb(48, 209, 88);
  --color-indigo: rgb(94, 92, 230);
  --color-orange: rgb(255, 159, 10);
  --color-pink: rgb(255, 55, 95);
  --color-purple: rgb(191, 90, 242);
  --color-red: rgb(255, 69, 58);
  --color-teal: rgb(100, 210, 255);
  --color-yellow: #efbc05;
  --color-gray-1: rgb(142, 142, 147);
  --color-gray-2: rgb(99, 99, 102);
  --color-gray-3: rgb(72, 72, 74);
  --color-gray-4: rgb(58, 58, 60);
  --color-gray-5: rgb(44, 44, 46);
  --color-gray-6: rgb(28, 28, 30);
}
